/* 
    Document   : app-agenda-estilo
    Created on : 05/07/2012, 06:37:32
    Author     : nelsonmota
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


/*
#principal div{
    border: 1px #000 solid;
}*/

#principal{
    padding: 5% 0%;
    
}

#meses{
    
    float: left;
    width: 200px;
    height: 290px;
    padding: 150px 20px 0 20px;
    
    -webkit-box-shadow: #3f4c6b 2px 2px 2px 2px ;
    box-shadow: #3f4c6b 2px 2px 2px 2px ; 
    
}

#dias{
    width: 740px;
    height: 440px;
    float: right;
    
    -webkit-box-shadow: #3f4c6b 2px 2px 2px 2px ;
    box-shadow: #3f4c6b 2px 2px 2px 2px ; 
    
}

#dias table{
    padding: 20px 20px;
}

#calendario{
    width: 97%;
    height: 450px;
    padding: 5px;
}

#dsemana div{
    border: 1px #000 solid;
    width: 30px;
    height: 15px;
    float: left;
    text-align: center;
}
#dsemananumeros div{
    border: 1px #000 solid;
    width: 30px;
    height: 15px;
    float: left;
    text-align: center;
}

#mesanual {
    width: 230px;
    height: 180px;
    border: 1px #000 solid;
}